*.swp
*~
/config/config.h.tmp
/dev/bup-exec
/dev/bup-python
/dev/python
/lib/bup/_helpers.dll
/lib/bup/_helpers.so
/lib/bup/checkout_info.py
/lib/cmd/bup
/nbproject/
/test/int/__init__.pyc
/test/lib/__init__.pyc
/test/lib/buptest/__init__.pyc
/test/lib/buptest/vfs.pyc
/test/lib/wvpytest.pyc
/test/sampledata/var/
/test/tmp/
\#*#
__pycache__/
