# -*-conf-*-
[GENERAL OPTIONS]

[MESSAGES CONTROL]
disable=all
enable=
  assignment-from-no-return,
  bad-classmethod-argument,
  catching-non-exception,
  consider-using-dict-items,
  consider-using-generator,
  consider-using-in,
  consider-using-max-builtin,
  inconsistent-return-statements,
  return-in-init,
  super-init-not-called,
  syntax-error,
  trailing-whitespace,
  undefined-variable,
  unidiomatic-typecheck,
  unnecessary-comprehension,
  unnecessary-lambda,
  unnecessary-lambda-assignment,
  unnecessary-pass,
  unnecessary-semicolon,
  unused-import,
  unused-wildcard-import,
  use-list-literal,
  useless-return
