# -*-conf-*-
[GENERAL OPTIONS]

[BASIC]
class-rgx=([_a-z]+)|(_?([A-Z]+[a-z]*)+) # LocalRepo mmap finalized...
const-rgx=([_a-z]+)|([_A-Z]+) # snake-case uppper or lower

[VARIABLES]
dummy-variables-rgx=.*_$
ignored-argument-names=.*_$

[MESSAGES CONTROL]
disable=all
enable=
  abstract-method,
  arguments-differ,
  arguments-renamed,
  assert-on-string-literal,
  assignment-from-no-return,
  bad-classmethod-argument,
  bad-indentation,
  bare-except,
  broad-exception-caught,
  catching-non-exception,
  chained-comparison,
  consider-iterating-dictionary,
  consider-using-dict-items,
  consider-using-enumerate,
  consider-using-from-import,
  consider-using-generator,
  consider-using-in,
  consider-using-max-builtin,
  consider-using-min-builtin,
  consider-using-sys-exit,
  consider-using-ternary,
  deprecated-module,
  expression-not-assigned,
  f-string-without-interpolation,
  function-redefined,
  import-outside-toplevel,
  inconsistent-return-statements,
  invalid-name,
  logging-not-lazy,
  no-else-continue,
  no-else-raise,
  no-value-for-parameter,
  reimported,
  return-in-init,
  singleton-comparison,
  subprocess-popen-preexec-fn,
  super-init-not-called,
  syntax-error,
  trailing-comma-tuple,
  trailing-whitespace,
  unbalanced-tuple-unpacking,
  undefined-loop-variable,
  undefined-variable,
  ungrouped-imports,
  unidiomatic-typecheck,
  unnecessary-comprehension,
  unnecessary-lambda,
  unnecessary-lambda-assignment,
  unnecessary-pass,
  unnecessary-semicolon,
  unreachable,
  unspecified-encoding,
  unused-argument,
  unused-import,
  unused-variable,
  unused-wildcard-import,
  use-dict-literal,
  use-implicit-booleaness-not-len,
  use-list-literal,
  use-maxsplit-arg,
  use-yield-from,
  useless-return,
  wrong-import-order,
  wrong-import-position
