# -*-conf-*-

[MESSAGES CONTROL]
disable=all
enable=
  catching-non-exception,
  consider-using-in,
  return-in-init,
  trailing-whitespace,
  undefined-variable,
  unidiomatic-typecheck,
  unused-import,
  unused-wildcard-import,
  useless-return
